@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');
body {
    box-sizing: border-box;
    background-color:#EEF2E6;
    font-family: 'PT Mono', monospace;
    color: #1C6758;
}
.counter_wrapper {
    margin: 50px;
}
.counter {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-size: larger;
    padding: 0;
    & *{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 50px;   
        border-radius: 15px;
    }
    &__button{ 
        width: 50px;
        background-color: #D6CDA4;
        user-select: none;
        &:hover{
            background-color: #b1a886;
            transition: background-color 0.3s;
        }
    }
    &__display {
        background-color: black;
        color: green;
        width: 100px;
        margin: 0 10px;
    }
}
a {
    text-decoration: none;
    color: #1C6758;
}
.task2 {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 20px 0 ;
    width: 20vw;
    background-color: #D6CDA4;
    border-radius: 30px ;
    & >ul {
        padding: 0;
    }

}