@import "../helpers/Colors.module.css";
.list {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
.error p {
  color: var(--color-contrast);
  font-size: 30px;
  padding: 10px;
  background-color: var(--color-main);
}
.sort_btn {
  position: absolute;
  top: -78.5px;
  right: 0px;
  width: 120px;
  height: 50px;
  border: 0;
  border-radius: 0 0 0 20px;
  background-color: var(--color-contrast);
  color: var(--color-main);
  font-size: 15px;
}
