.logo {
  display: flex;
  height: inherit;
  padding-left: 5px;
}
.logo img {
  position: absolute;
  width: 70px;
  z-index: 2;
}
.logo h1 {
  font-size: 40px;
  vertical-align: middle;
  margin: 15px 0 0 55px;
  padding: 0 10px 0 20px;
  background-color: black;
  color: white;
}
