@import "../helpers/Colors.module.css";
.header {
  position: fixed;
  height: 40px;
  width: 100%;
  background-color: var(--color-dark-back);
  z-index: 5;
}
.header_content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}
